.toolbar {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  padding-inline-end: 1rem;
  justify-self: end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background: none;
    border: none;
    width: 2.5rem;
    height: var(--app-editor-header-height);
    border-radius: 0.25rem;
  }
}

.beat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5px 1px 0;
  border: 1px solid var(--app-color-border-strong);
  border-radius: 100vmax;
  margin-inline-end: 0.5rem;
  user-select: none;

  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--app-color-fg-primary);
  font-variant-numeric: tabular-nums;
  line-height: 1;
  text-align: center;
}
