.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 360px;
}

.content {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  border-inline-start: 1px solid var(--border-subtle);

  &[data-visible='false'] {
    display: none;
  }
}
