.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 360px;
}

.content {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: relative; /* Need this to position SidebarResizer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  height: 100dvh;
  overscroll-behavior: contain;
  border-inline-start: 1px solid var(--app-color-border-subtle);

  &[data-visible='false'] {
    display: none;
  }
}
