.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  height: max-content;
  padding: 0.5rem 0.375rem;
  padding-inline-end: 1rem;
  justify-self: end;

  button {
    display: flex;
    padding: 0.25rem;
    background: none;
    border: none;
    border-radius: 0.25rem;
  }
}

.beat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5px 1px 0;
  border: 1px solid var(--border-strong);
  border-radius: 100vmax;
  margin-inline-end: 0.375rem;
  user-select: none;

  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--color-fg-primary);
  font-variant-numeric: tabular-nums;
  line-height: 1;
  text-align: center;
}
