.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-3);
  border: 1px solid var(--app-color-border-subtle);
  border-block-end: none;
  border-radius: var(--spacing-2) var(--spacing-2) 0 0;

  button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    padding: var(--spacing-1_5);
  }
}

.editor {
  border: 1px solid var(--app-color-border-subtle);
  border-radius: 0 0 var(--spacing-2) var(--spacing-2);
  overflow: clip;
}

.queued {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--app-color-fg-secondary);
  padding: 0 var(--spacing-2) 1px;
  /*border: 1px solid var(--app-color-border-subtle);*/
  /*border-radius: 100vmax;*/
}
