*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-fg-primary: var(--color-neutral-50);
  --color-fg-secondary: oklch(var(--color-neutral-50-lch) / 0.8);
  --color-fg-tertiary: oklch(var(--color-neutral-50-lch) / 0.6);
  --color-bg-primary: var(--color-neutral-950);
  --border-subtle: oklch(var(--color-neutral-50-lch) / 0.15);
  --border-strong: var(--color-neutral-50);

  --app-sidebar-width: 360px;

  background: var(--color-bg-primary);
  color: white;
  color-scheme: dark;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

:is(button, a, input, summary) {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-magenta-300);
    outline-offset: 2px;
  }
}

/*.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  inset: 0 0 auto 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.5), transparent);
  block-size: 5.5rem;
  padding-inline: 2rem;
  pointer-events: none;
}

.midi {
  display: inline-block;
  margin: 0;
  background: rgb(0 0 0 / 0.75);
  padding: 0.75rem 1rem;
  border: 1px solid rgb(255 255 255 / 0.15);
  border-radius: 100vmax;
  pointer-events: auto;

  &:disabled {
    color: inherit;
  }
}*/
