---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import CodeEditor from "@/components/code-editor";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 style="text-align: center;">Drome</h1>
      <p style="text-align: center;">
        A minimalist live coding language for the web
      </p>
      <CodeEditor client:load code="d.synth().note([60,64,67,71]).push()" />
    </main>
  </body>
</html>
