---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <ul>
    <li>
      <a href="/web-midi">MIDI Controller</a>
    </li>
    <li>
      <a href="/audio-visualizer">Audio Visualizer</a>
    </li>
  </ul>
</Layout>
