.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 0.75rem;
  padding: 1rem;
}

.heading {
  font-size: 0.8125rem;
  color: var(--app-color-fg-tertiary);
  margin: 0;

  &:not(:first-of-type) {
    margin-top: 0.75rem;
  }
}

.ports {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 0.75rem;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: port-counter;
}

.port {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  counter-increment: port-counter;

  .label {
    display: inline-flex;
    align-items: baseline;
    gap: 0.5rem;

    &::before {
      content: counter(port-counter, decimal-leading-zero) ' ';
      font-size: 0.8125rem;
      font-variant-numeric: lining-nums;
      color: var(--app-color-fg-tertiary);
    }
  }

  button {
    display: grid;
    place-items: center;
    width: 1.25rem;
    height: 1.25rem;
    background: none;
    border: none;
    border-radius: 3px;
    padding: 0;

    :where(.port:not(:hover) &:not(:focus-visible)) {
      opacity: 0;
    }

    &:not(:hover, :focus-visible) {
      color: var(--app-color-fg-tertiary);
    }

    &[data-success='true'] {
      opacity: 1;
      color: var(--app-color-accent-primary);
    }

    svg {
      grid-area: 1/-1;
      display: inline-block;
    }
  }
}
