.toolbar {
  padding: 0.5rem;
  padding-block-end: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* BUTTONS */
.button {
  background: none;
  border: none;
  font-size: 0.75rem;
  color: inherit;
}

.tool {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;

  .toolbar:has(:hover, :focus-visible) &:not(:hover, :focus-visible) {
    color: var(--app-color-fg-tertiary);
  }
}

.primary {
  --border-color: transparent;

  flex: 1 0 0;
  display: grid;
  gap: 0.25rem;
  text-align: left;
  padding-block: 0.625rem;
  padding-inline: 0.875rem 1rem;
  border-inline-start: 0.125rem solid var(--border-color, transparent);

  &[data-current='true'] {
    --border-color: var(--app-color-border-strong);
  }

  p {
    margin: 0;
  }

  p:first-of-type {
    font-size: 0.875rem;
  }

  &:not(:hover, :focus-visible) p:last-of-type {
    color: var(--app-color-fg-tertiary);
  }
}

/*-------*/
/*-------*/
/*-------*/

.list {
  margin: 0;
  padding: 0;
}

.label {
  display: grid;
  font-size: 0.75rem;
  &:is(:hover, :focus-visible),
  &:has(:hover, :focus-visible) {
    background: oklch(var(--app-color-neutral-50-lch) / 0.05);
  }

  & > * {
    grid-area: 1/-1;
  }

  button {
    pointer-events: all;
  }
}

.select_button {
  --border-color: transparent;

  border-inline-start: 0.125rem solid var(--border-color, transparent);

  &[data-current='true'] {
    --border-color: var(--app-color-border-strong);
  }
}

.label_content {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  pointer-events: none;
}

.label_text {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;

  p {
    margin: 0;
  }
}

.editable_container {
  display: flex;
}

.label_title {
  width: fit-content;
  font-size: 0.875rem;

  &[contenteditable='false'] {
    pointer-events: none;
  }
}

.label_date {
  color: var(--app-color-fg-tertiary);
}

.delete_button {
  flex: 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.51rem;
  border-radius: 100vmax;

  .label:not(:hover, :focus-visible) &:not(:hover, :focus-visible) {
    opacity: 0;
  }

  .label:has(:hover, :focus-visible) &:not(:hover, :focus-visible) {
    opacity: 1;
    color: var(--app-color-fg-tertiary);
  }
}
