.toolbar {
  padding: 0.5rem;
  padding-block-end: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* BUTTONS */
.button {
  background: none;
  border: none;
  font-size: 0.75rem;
  color: inherit;
}

.tool {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;

  .toolbar:has(:hover, :focus-visible) &:not(:hover, :focus-visible) {
    color: var(--app-color-fg-tertiary);
  }
}
