.tabs {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  flex: 1 0 0;
  overflow: hidden;
}

.tablist {
  border-bottom: 1px solid var(--app-color-border-subtle);
}

.tab {
  --border-color: var(--app-color-border-strong);

  background: none;
  border: none;
  padding: 1rem 1rem 0.75rem;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 1px 0px 0px var(--border-color);

  &[aria-selected='false'] {
    --border-color: transparent;
    color: var(--app-color-fg-tertiary);
  }

  &:is(:hover, :focus-visible) {
    color: var(--app-color-fg-primary);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible span {
    outline: 2px solid var(--app-color-magenta-300);
    outline-offset: 5px;
  }

  span {
    border-radius: 0.5px;
  }
}

.panels {
  flex: 1 0 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
