<div id="editor-container"></div>

<script>
  import { basicSetup } from "codemirror";
  import { EditorView } from "@codemirror/view";
  import { javascript } from "@codemirror/lang-javascript";
  import { HighlightStyle, syntaxHighlighting } from "@codemirror/language";
  import { tags } from "@lezer/highlight";

  const editorTheme = EditorView.theme({
    "&": {
      backgroundColor: "var(--cm-background)",
      color: "var(--cm-text)",
    },
    ".cm-content": {
      caretColor: "var(--cm-caret)",
    },
    ".cm-cursor": {
      borderLeftColor: "var(--cm-caret)",
    },
    ".cm-gutters": {
      backgroundColor: "var(--cm-gutter-background)",
      color: "var(--cm-gutter-text)",
      borderRight: "1px solid var(--cm-gutter-border)",
    },
    ".cm-activeLineGutter": {
      backgroundColor: "var(--cm-active-line-gutter-background)",
    },
    ".cm-activeLine": {
      backgroundColor: "var(--cm-active-line-background)",
    },
  });

  const highlightStyle = HighlightStyle.define([
    { tag: tags.keyword, color: "var(--cm-keyword)" },
    { tag: tags.controlKeyword, color: "var(--cm-control-keyword)" },
    { tag: tags.operator, color: "var(--cm-operator)" },
    { tag: tags.punctuation, color: "var(--cm-punctuation)" },
    { tag: tags.string, color: "var(--cm-string)" },
    { tag: tags.number, color: "var(--cm-number)" },
    { tag: tags.bool, color: "var(--cm-bool)" },
    { tag: tags.null, color: "var(--cm-null)" },
    { tag: tags.variableName, color: "var(--cm-variable)" },
    { tag: tags.definition(tags.variableName), color: "var(--cm-definition)" },
    { tag: tags.function(tags.variableName), color: "var(--cm-function)" },
    { tag: tags.propertyName, color: "var(--cm-property)" },
    { tag: tags.comment, color: "var(--cm-comment)", fontStyle: "italic" },
    { tag: tags.lineComment, color: "var(--cm-comment)", fontStyle: "italic" },
    { tag: tags.blockComment, color: "var(--cm-comment)", fontStyle: "italic" },
    { tag: tags.typeName, color: "var(--cm-type)" },
    { tag: tags.className, color: "var(--cm-class)" },
    { tag: tags.regexp, color: "var(--cm-regexp)" },
  ]);

  const container = document.querySelector("#editor-container") ?? undefined;

  const sampleCode = `// Sample JavaScript code
function greet(name) {
  const message = "Hello, " + name + "!";
  console.log(message);
  return message;
}

const numbers = [1, 2, 3, 4, 5];
const doubled = numbers.map(n => n * 2);

if (doubled.length > 0) {
  greet("World");
}`;

  const view = new EditorView({
    doc: sampleCode,
    parent: container,
    extensions: [
      basicSetup,
      javascript(),
      editorTheme,
      syntaxHighlighting(highlightStyle),
    ],
  });
</script>

<style>
  :root {
    /* Editor chrome */
    --cm-background: transparent;
    --cm-text: #fff;
    --cm-caret: #aaa;
    --cm-gutter-background: transparent;
    --cm-gutter-text: #888;
    --cm-gutter-border: rgb(255 255 255 / 0.1);
    --cm-active-line-background: rgb(255 255 255 / 0.075);
    --cm-active-line-gutter-background: rgb(255 255 255 / 0.15);

    /* Syntax highlighting colors */
    --cm-keyword: #7c3aed;
    --cm-control-keyword: #7c3aed;
    --cm-operator: #64748b;
    --cm-punctuation: #64748b;
    --cm-string: #16a34a;
    --cm-number: #ea580c;
    --cm-bool: #ea580c;
    --cm-null: #ea580c;
    --cm-variable: #aaa;
    --cm-definition: #0369a1;
    --cm-function: #0369a1;
    --cm-property: #0891b2;
    --cm-comment: #555;
    --cm-type: #c026d3;
    --cm-class: #c026d3;
    --cm-regexp: #db2777;
  }

  * {
    box-sizing: border-box;
  }

  html {
    background: black;
  }

  body {
    margin: 0;
  }

  #editor-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    height: 100dvh;
  }
</style>
