<div id="editor"></div>

<script>
  import { basicSetup } from "codemirror";
  import { EditorView } from "@codemirror/view";
  import { javascript } from "@codemirror/lang-javascript";
  import { HighlightStyle, syntaxHighlighting } from "@codemirror/language";
  import { tags } from "@lezer/highlight";

  const ALLOW_FOLD = false;

  const editorTheme = EditorView.theme({
    "&": {
      backgroundColor: "var(--color-cm-background)",
      color: "var(--color-cm-text)",
    },
    ".cm-content": {
      caretColor: "var(--color-cm-caret)",
    },
    ".cm-cursor": {
      borderLeftColor: "var(--color-cm-caret)",
    },
    ".cm-gutters": {
      backgroundColor: "var(--color-cm-gutter-bg)",
      color: "var(--color-cm-gutter-fg)",
      borderRight: "1px solid var(--color-cm-gutter-border)",
    },
    ".cm-activeLineGutter": {
      backgroundColor: "var(--color-cm-active-line-gutter-bg)",
      color: "var(--color-cm-active-line-gutter-fg)",
    },
    "& .cm-line": {
      backgroundColor: "var(--color-cm-line-bg)",
      inlineSize: "var(--color-cm-line-inline-size)",
    },
    "& .cm-line.cm-activeLine": {
      backgroundColor: "var(--color-cm-active-line-bg)",
    },
    ".cm-selectionBackground, &.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground":
      {
        backgroundColor: "var(--color-cm-selection-bg)",
      },
    "& .cm-line .cm-matchingBracket, & .cm-line .cm-nonmatchingBracket": {
      outline: "none",
    },
    "& .cm-line .cm-matchingBracket": {
      backgroundColor: "var(--color-cm-matching-bracket-bg)",
    },
    "& .cm-line .cm-matchingBracket > span": {
      color: "var(--color-cm-matching-bracket-fg)",
    },
    "& .cm-line .cm-nonmatchingBracket": {
      backgroundColor: "var(--color-cm-nonmatching-bracket-bg)",
    },
    "& .cm-line .cm-nonmatchingBracket > span": {
      color: "var(--color-cm-nonmatching-bracket-fg)",
    },
    "& .cm-line .cm-selectionMatch": {
      backgroundColor: "var(--color-cm-selection-match-bg)",
    },
    "& .cm-line .cm-selectionMatch > span": {
      color: "var(--color-cm-selection-match-fg)",
    },
    "& .cm-gutters > .cm-gutter.cm-foldGutter": {
      pointerEvents: ALLOW_FOLD ? "auto" : "none",
    },
    "& .cm-gutters > .cm-gutter.cm-foldGutter > .cm-gutterElement > span": {
      visibility: ALLOW_FOLD ? "visible" : "hidden",
    },
  });

  const highlightStyle = HighlightStyle.define([
    { tag: tags.keyword, color: "var(--color-cm-keyword)" },
    { tag: tags.controlKeyword, color: "var(--color-cm-control-keyword)" },
    { tag: tags.operator, color: "var(--color-cm-operator)" },
    { tag: tags.punctuation, color: "var(--color-cm-punctuation)" },
    { tag: tags.string, color: "var(--color-cm-string)" },
    { tag: tags.number, color: "var(--color-cm-number)" },
    { tag: tags.bool, color: "var(--color-cm-bool)" },
    { tag: tags.null, color: "var(--color-cm-null)" },
    { tag: tags.variableName, color: "var(--color-cm-variable)" },
    {
      tag: tags.definition(tags.variableName),
      color: "var(--color-cm-definition)",
    },
    {
      tag: tags.function(tags.variableName),
      color: "var(--color-cm-function)",
    },
    { tag: tags.propertyName, color: "var(--color-cm-property)" },
    {
      tag: tags.comment,
      color: "var(--color-cm-comment)",
      fontStyle: "italic",
    },
    {
      tag: tags.lineComment,
      color: "var(--color-cm-comment)",
      fontStyle: "italic",
    },
    {
      tag: tags.blockComment,
      color: "var(--color-cm-comment)",
      fontStyle: "italic",
    },
    { tag: tags.typeName, color: "var(--color-cm-type)" },
    { tag: tags.className, color: "var(--color-cm-class)" },
    { tag: tags.regexp, color: "var(--color-cm-regexp)" },
  ]);

  const container =
    document.querySelector<HTMLDivElement>("#editor") ?? undefined;

  const sampleCode = `// Sample JavaScript code
function greet(name) {
  const message = "Hello, " + name + "!";
  console.log(message);
  return message;
}

const numbers = [1, 2, 3, 4, 5];
const doubled = numbers.map(n => n * 2);

if (doubled.length > 0) {
  greet("World");
}

d.synth("sine").note([60,64,67,71])`;

  const view = new EditorView({
    doc: sampleCode,
    parent: container,
    extensions: [
      basicSetup,
      javascript(),
      editorTheme,
      syntaxHighlighting(highlightStyle),
    ],
  });

  window.addEventListener("keydown", (e) => {
    if (e.altKey && e.key === "†") {
      e.preventDefault();
      toggleTheme();
    } else if (e.altKey && e.key === "Enter") {
      e.preventDefault();
      flash(300);
    }
  });

  function toggleTheme() {
    if (!container) return;

    let currentTheme = container.dataset.theme;
    if (!currentTheme) {
      currentTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    container.dataset.theme = currentTheme === "dark" ? "light" : "dark";
  }

  let timeoutId: ReturnType<typeof setTimeout> | null;

  function flash(dur = 200) {
    if (!container) return;
    if (timeoutId) clearTimeout(timeoutId);

    const cursorPos = view.state.selection.ranges[0].from;
    container.dataset.flash = "true";
    container.inert = true;

    timeoutId = setTimeout(() => {
      container.dataset.flash = "false";
      container.inert = false;
      view.focus();
      view.dispatch({ selection: { anchor: cursorPos, head: cursorPos } });
      timeoutId = null;
    }, dur);
  }
</script>

<style>
  :root {
    /* Color tokens */
    --color-neutral-50-lch: 97% 0.005 258;
    --color-neutral-50: oklch(var(--color-neutral-50-lch));
    --color-neutral-100: oklch(90% 0.011 258);
    --color-neutral-200: oklch(80% 0.015 258);
    --color-neutral-300: oklch(69% 0.019 256);
    --color-neutral-400: oklch(61% 0.019 256);
    --color-neutral-500: oklch(53% 0.02 256);
    --color-neutral-600: oklch(45% 0.019 257);
    --color-neutral-700: oklch(38% 0.016 255);
    --color-neutral-800: oklch(29% 0.012 258);
    --color-neutral-900: oklch(21.2% 0.009 255);
    --color-neutral-950-lch: 13.81% 0.006 245;
    --color-neutral-950: oklch(var(--color-neutral-950-lch));

    --color-yellow-50: oklch(0.987 0.026 102.21);
    --color-yellow-100: oklch(0.973 0.071 103.19);
    --color-yellow-200: oklch(0.945 0.129 101.54);
    --color-yellow-300: oklch(0.905 0.182 98.11);
    --color-yellow-400: oklch(0.852 0.199 91.94);
    --color-yellow-500: oklch(0.795 0.184 86.05);
    --color-yellow-600: oklch(0.681 0.162 75.83);
    --color-yellow-700: oklch(0.554 0.135 66.44);
    --color-yellow-800: oklch(0.476 0.114 61.91);
    --color-yellow-900: oklch(0.421 0.095 57.71);
    --color-yellow-950: oklch(0.286 0.066 53.81);
    --color-fuchsia-50: oklch(0.977 0.017 320.06);

    --color-red-50: oklch(0.969 0.015 12.42);
    --color-red-100: oklch(0.941 0.03 12.58);
    --color-red-200: oklch(0.892 0.058 10);
    --color-red-300: oklch(0.81 0.117 11.64);
    --color-red-400: oklch(0.712 0.194 13.43);
    --color-red-500: oklch(0.645 0.246 16.44);
    --color-red-600: oklch(0.586 0.253 17.59);
    --color-red-700: oklch(0.514 0.222 16.93);
    --color-red-800: oklch(0.455 0.188 13.7);
    --color-red-900: oklch(0.41 0.159 10.27);
    --color-red-950: oklch(0.271 0.105 12.09);

    --color-magenta-50: color(display-p3 1 0.9 1);
    --color-magenta-100: color(display-p3 1 0.75 1);
    --color-magenta-200: color(display-p3 1 0.5 1);
    --color-magenta-300: color(display-p3 1 0 1);
    --color-magenta-400: color(display-p3 0.7375 0 0.7375);
    --color-magenta-500: color(display-p3 0.6 0 0.6);
    --color-magenta-600: color(display-p3 0.475 0 0.475);
    --color-magenta-700: color(display-p3 0.35 0 0.35);
    --color-magenta-800: color(display-p3 0.225 0 0.225);
    --color-magenta-900: color(display-p3 0.117 0 0.117);
    --color-magenta-950: color(display-p3 0.025 0 0.025);

    --color-violet-50: color(display-p3 0.95 0.95 1);
    --color-violet-100: color(display-p3 0.77 0.75 1);
    --color-violet-200: color(display-p3 0.63 0.575 1);
    --color-violet-300: color(display-p3 0.5 0.375 1);
    --color-violet-400: color(display-p3 0.425 0.25 0.95);
    --color-violet-500: color(display-p3 0.375 0.189 0.862);
    --color-violet-600: color(display-p3 0.298 0 0.768);
    --color-violet-700: color(display-p3 0.22 0 0.6);
    --color-violet-800: color(display-p3 0.142 0 0.423);
    --color-violet-900: color(display-p3 0.071 0 0.257);
    --color-violet-950: color(display-p3 0.014 0 0.108);

    --color-blue-50: color(display-p3 0.939 0.975 1);
    --color-blue-100: color(display-p3 0.807 0.884 1);
    --color-blue-200: color(display-p3 0.675 0.79 1);
    --color-blue-300: color(display-p3 0.487 0.65 1);
    --color-blue-400: color(display-p3 0.255 0.46 1);
    --color-blue-500: color(display-p3 0 0.22 1);
    --color-blue-600: color(display-p3 0 0 0.887);
    --color-blue-700: color(display-p3 0 0 0.802);
    --color-blue-800: color(display-p3 0 0 0.492);
    --color-blue-900: color(display-p3 0 0 0.257);
    --color-blue-950: color(display-p3 0 0 0.1);

    --color-teal-50: color(display-p3 0.888 0.997 1);
    --color-teal-100: color(display-p3 0.684 0.929 1);
    --color-teal-200: color(display-p3 0.446 0.857 1);
    --color-teal-300: color(display-p3 0 0.75 1);
    --color-teal-400: color(display-p3 0 0.585 0.813);
    --color-teal-500: color(display-p3 0 0.434 0.615);
    --color-teal-600: color(display-p3 0 0.339 0.489);
    --color-teal-700: color(display-p3 0 0.25 0.375);
    --color-teal-800: color(display-p3 0 0.162 0.255);
    --color-teal-900: color(display-p3 0 0.064 0.124);
    --color-teal-950: color(display-p3 0 0.04 0.07);
  }

  :root {
    /* App tokens */
    --color-fg-primary: var(--color-neutral-100);
    --color-bg-primary: var(--color-neutral-950);

    /* Editor chrome */
    --color-cm-background: transparent;
    --color-cm-text: inherit;
    --color-cm-caret: var(--color-neutral-300);
    --color-cm-line-bg: none;
    --color-cm-line-inline-size: auto;
    --color-cm-gutter-fg: var(--color-neutral-600);
    --color-cm-gutter-bg: oklch(var(--color-neutral-950-lch) / 0.85);
    --color-cm-gutter-border: oklch(var(--color-neutral-50-lch) / 0.1);
    --color-cm-active-line-bg: oklch(var(--color-neutral-50-lch) / 0.075);
    --color-cm-active-line-gutter-fg: var(--color-neutral-400);
    --color-cm-active-line-gutter-bg: oklch(
      var(--color-neutral-50-lch) / 0.125
    );
    --color-cm-selection-bg: var(--color-blue-800);
    --color-cm-matching-bracket-bg: var(--color-neutral-700);
    --color-cm-matching-bracket-fg: var(--color-neutral-400);
    --color-cm-nonmatching-bracket-bg: var(--color-red-800);
    --color-cm-nonmatching-bracket-fg: var(--color-red-300);
    --color-cm-selection-match-bg: var(--color-blue-800);
    --color-cm-selection-match-fg: var(--color-blue-300);

    /* Syntax highlighting colors */
    --color-cm-keyword: var(--color-violet-300);
    --color-cm-control-keyword: var(--color-violet-300);
    --color-cm-operator: var(--color-teal-300);
    --color-cm-punctuation: var(--color-neutral-400); /* brackets */
    --color-cm-string: var(--color-magenta-300);
    --color-cm-number: var(--color-magenta-300);
    --color-cm-bool: var(--color-yellow-500);
    --color-cm-null: var(--color-yellow-500);
    --color-cm-variable: var(--color-fg-primary);
    --color-cm-definition: var(--color-fg-primary);
    --color-cm-function: var(--color-fg-primary);
    --color-cm-property: var(--color-fg-primary);
    --color-cm-comment: var(--color-neutral-600);
    --color-cm-type: var(--color-violet-300);
    --color-cm-class: var(--color-violet-300);
    --color-cm-regexp: var(--color-violet-300);

    /* Evaluation confirmation */
    --color-cm-flash-bg: var(--color-magenta-400);
    --color-cm-flash-fg: var(--color-magenta-100);
  }

  :root:has(body > #editor[data-theme="light"]) {
    /* App tokens */
    --color-fg-primary: var(--color-neutral-900);
    --color-bg-primary: var(--color-neutral-50);

    /* Editor chrome */
    --color-cm-caret: var(--color-neutral-700);
    --color-cm-gutter-fg: var(--color-neutral-400);
    --color-cm-gutter-bg: oklch(var(--color-neutral-50-lch) / 0.9);
    --color-cm-gutter-border: oklch(var(--color-neutral-950-lch) / 0.1);
    --color-cm-active-line-bg: oklch(var(--color-neutral-950-lch) / 0.05);
    --color-cm-active-line-gutter-fg: var(--color-neutral-700);
    --color-cm-active-line-gutter-bg: oklch(var(--color-neutral-950-lch) / 0.1);
    --color-cm-selection-bg: var(--color-blue-100);
    --color-cm-matching-bracket-bg: var(--color-neutral-200);
    --color-cm-matching-bracket-fg: var(--color-neutral-700);
    --color-cm-nonmatching-bracket-bg: var(--color-red-300);
    --color-cm-nonmatching-bracket-fg: var(--color-red-700);
    --color-cm-selection-match-bg: var(--color-blue-200);
    --color-cm-selection-match-fg: var(--color-blue-700);

    /* Syntax highlighting colors */
    --color-cm-keyword: var(--color-violet-400);
    --color-cm-control-keyword: var(--color-violet-400);
    --color-cm-operator: var(--color-teal-400);
    --color-cm-punctuation: var(--color-neutral-400); /* brackets */
    --color-cm-string: var(--color-magenta-400);
    --color-cm-number: var(--color-magenta-400);
    --color-cm-bool: var(--color-yellow-600);
    --color-cm-null: var(--color-yellow-600);
    --color-cm-variable: var(--color-fg-primary);
    --color-cm-definition: var(--color-fg-primary);
    --color-cm-function: var(--color-fg-primary);
    --color-cm-property: var(--color-fg-primary);
    --color-cm-comment: var(--color-neutral-400);
    --color-cm-type: var(--color-violet-400);
    --color-cm-class: var(--color-violet-400);
    --color-cm-regexp: var(--color-violet-400);

    --color-cm-flash-bg: var(--color-magenta-300);
    --color-cm-flash-fg: var(--color-magenta-700);
  }

  * {
    box-sizing: border-box;
  }

  html {
    background: var(--color-bg-primary);
    color: var(--color-fg-primary);
  }

  body {
    margin: 0;
  }

  #editor {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    height: 100dvh;
  }

  #editor[data-flash="true"] {
    --color-cm-line-bg: var(--color-cm-flash-bg);
    --color-cm-active-line-bg: var(--color-cm-flash-bg);
    --color-cm-line-inline-size: fit-content;

    --color-cm-selection-bg: transparent;
    --color-cm-matching-bracket-bg: transparent;
    --color-cm-nonmatching-bracket-bg: transparent;
    --color-cm-selection-match-bg: transparent;

    --color-cm-matching-bracket-fg: var(--color-cm-flash-fg);
    --color-cm-nonmatching-bracket-fg: var(--color-cm-flash-fg);
    --color-cm-selection-match-fg: var(--color-cm-flash-fg);
    --color-cm-keyword: var(--color-cm-flash-fg);
    --color-cm-control-keyword: var(--color-cm-flash-fg);
    --color-cm-operator: var(--color-cm-flash-fg);
    --color-cm-punctuation: var(--color-cm-flash-fg);
    --color-cm-string: var(--color-cm-flash-fg);
    --color-cm-number: var(--color-cm-flash-fg);
    --color-cm-bool: var(--color-cm-flash-fg);
    --color-cm-null: var(--color-cm-flash-fg);
    --color-cm-variable: var(--color-cm-flash-fg);
    --color-cm-definition: var(--color-cm-flash-fg);
    --color-cm-function: var(--color-cm-flash-fg);
    --color-cm-property: var(--color-cm-flash-fg);
    --color-cm-comment: var(--color-cm-flash-fg);
    --color-cm-type: var(--color-cm-flash-fg);
    --color-cm-class: var(--color-cm-flash-fg);
    --color-cm-regexp: var(--color-cm-flash-fg);
  }
</style>
