.cm-editor {
  --cm-color-fg-primary: var(--color-neutral-50);
  --cm-color-bg-primary: var(--color-neutral-950);

  --cm-editor-width: 100vw;
  --cm-editor-height: 100vh;
  --cm-editor-color-bg: var(--cm-color-bg-primary);
  --cm-editor-color-fg: var(--cm-color-fg-primary);
  --cm-editor-font-size: 14px;
  --cm-editor-font-family: MDIO, Consolas, monospace;
  --cm-editor-line-height: 1.6;

  --cm-cursor-fg: var(--color-cyan-200);
  --cm-cursor-width: 1.2px;

  --cm-scrollbar-width: 8px;
  --cm-scrollbar-height: 8px;
  --cm-scrollbar-color-bg: var(--color-neutral-900);
  --cm-scrollbar-thumb-color-bg: var(--color-neutral-800);
  --cm-scrollbar-thumb-hover-color-bg: var(--color-neutral-700);
  --cm-scrollbar-thumb-border: none;
  --cm-scrollbar-thumb-border-radius: 100vmax;
  --cm-scrollbar-corner-color-bg: var(--color-neutral-900);
  --cm-scrollbar-corner-border: none;

  --cm-selection-color-bg: var(--color-cyan-700);
  --cm-selection-color-fg: var(--color-cyan-100);
  --cm-selection-border-radius: 3px;
  --cm-selection-match-color-bg: var(--color-neutral-700);
  --cm-selection-match-outline: none;
  --cm-selection-match-border-radius: 3px;

  --cm-active-line-color-bg: rgb(255 255 255 / 0.0375);
  --cm-active-line-border-radius: 0;
  --cm-active-line-outline: 1px solid rgb(255 255 255 / 0.125);

  --cm-gutters-color-bg: var(--cm-color-bg-primary);
  --cm-gutters-color-fg: var(--color-neutral-600);
  --cm-gutters-active-line-color-bg: rgb(255 255 255 / 0.125);
  --cm-gutters-active-line-color-fg: var(--cm-color-fg-primary);
  --cm-gutters-font-size: 12.5px;

  --cm-search-match-color-bg: var(--color-cyan-700);
  --cm-search-match-color-fg: var(--color-cyan-100);
  --cm-search-match-border-radius: 3px;
  --cm-search-match-border-outline: 1px solid transparent;
  --cm-search-match-selected-color-bg: var(--color-cyan-200);
  --cm-search-match-selected-color-fg: var(--color-neutral-950);
  --cm-search-match-selected-color-padding: 2px 4px;

  /* ie: let, const, var  */
  --cm-syntax-declaration-keyword-color-fg: var(--color-cyan-200);
  /* ie: export , import  */
  --cm-syntax-module-keyword-color-fg: var(--color-cyan-200);
  /* ie: return  */
  --cm-syntax-control-keyword-color-fg: var(--color-neutral-400);
  /* ie: this  */
  --cm-syntax-self-color-fg: var(--color-neon-yellow);
  --cm-syntax-variable-declaration-color-fg: var(--color-purple);
  --cm-syntax-variable-reference-color-fg: var(--cm-color-fg-primary);
  --cm-syntax-function-declaration-color-fg: var(--color-neon-pink);
  --cm-syntax-function-reference-color-fg: var(--color-neon-pink);
  --cm-syntax-property-object-key-color-fg: var(--color-neutral-200);
  --cm-syntax-string-color-fg: var(--color-neon-pink);
  --cm-syntax-number-color-fg: var(--color-neon-pink);
  --cm-syntax-boolean-color-fg: var(--color-neon-yellow);
  --cm-syntax-regex-color-fg: var(--color-neon-yellow);
  --cm-syntax-operator-color-fg: var(--color-cyan-200);
  --cm-syntax-property-name-color-fg: var(--cm-color-fg-primary);
  --cm-syntax-class-identifier-color-fg: var(--color-neon-yellow);
  --cm-syntax-bracket-color-fg: var(--color-neutral-400);
  --cm-syntax-comment-color-fg: var(--color-neutral-600);

  --cm-panel-color-bg: var(--color-neutral-900);
  --cm-panel-color-fg: var(--cm-color-fg-primary);
  --cm-top-panel-border-bottom: 1px solid rgb(255 255 255 / 0.1);
  --cm-bottom-panel-border-top: 1px solid rgb(255 255 255 / 0.1);
  --cm-panel-button-color-bg: var(--color-cyan-700);
  --cm-panel-button-color-fg: var(--cm-color-fg-primary);
  --cm-panel-button-border: none;
  --cm-panel-button-border-radius: 3px;
  --cm-panel-button-padding: 2px 10px;
  --cm-panel-button-hover-color-bg: var(--color-cyan-200);
  --cm-panel-button-hover-color-fg: var(--color-cyan-700);
  --cm-panel-input-color-bg: var(--color-neutral-950);
  --cm-panel-input-color-fg: var(--cm-color-fg-primary);
  --cm-panel-input-border: 1px solid rgb(255 255 255 / 0.15);
  --cm-panel-input-border-radius: 3px;
  --cm-panel-input-padding: 2px 10px;

  --cm-flash-color-bg: var(--color-neon-pink);

  &[data-flash='true'] {
    --cm-editor-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-declaration-keyword-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-module-keyword-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-control-keyword-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-self-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-variable-declaration-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-variable-reference-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-function-declaration-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-function-reference-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-property-object-key-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-string-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-number-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-boolean-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-regex-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-operator-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-property-name-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-class-identifier-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-bracket-color-fg: var(--cm-color-fg-primary);
    --cm-syntax-comment-color-fg: var(--cm-color-fg-primary);
  }

  .cm-panel.cm-search {
    padding: 1rem 1rem 0.5rem;
    line-height: 2.25;

    & > * {
      display: inline-block;
      vertical-align: top;
      height: 20px !important;
      margin: 0 !important;
      margin-inline-end: 1rem !important;
    }

    & > button {
      margin-inline-end: 0.5rem !important;
    }

    & > button + label {
      margin-inline-start: 0.5rem !important;
    }

    label {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      user-select: none;
      height: 1rem;
      /* padding-inline-start: 0.25rem; */

      input[type='checkbox'] {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        margin: 0 !important;
        border: none;
        border-radius: 3px;
        padding: 0;
        vertical-align: middle;
      }

      input[type='checkbox']:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 1px solid rgb(255 255 255 / 0.15);
        border-radius: 3px;
        background-color: transparent;
        vertical-align: middle;
        margin-right: 8px;
      }

      input[type='checkbox']:checked:after {
        background-color: var(--color-cyan-200);
      }
    }
  }
}
